.inner{
    width: 80%;
    margin: 0 auto;
}

body{
    padding: 10px;
}

/*-------------------------------------------*/

header{
    background-color: rgb(246, 246, 255);;
    height: 60px;
    width: 1800px;
    position: relative;
}
.top_logo{

    position: absolute;
    top: 10px;
    left: 10px;

    width: 220px;
    height: 42px;
    background-image: url(https://hanyang.sen.hs.kr/dggb/module/file/selectImageView.do?atchFileId=102456&fileSn=0);
    background-position: center;
    background-size: cover;

}

.search{
    display: flex;

    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 177px;
    height: 27px;

}
.search input{
    
    width: 150px;
    height: 19px;

    border: 0px;
    outline: 0px;

    padding: 4px;

}
.search_img{
    background-image: url(https://www.midwest.edu/img/top/search.png);
    background-position: center;
    background-size: cover;
    width: 27px;
    height: 27px;
    background-color: white;

}

/*-------------------------------------------*/

nav{
    background-color: rgb(230, 232, 255);
    height: 50px;
    padding: 5px;
    width: 1790px;
}
.nav_group{
    display: flex;
    margin: 10px 0px 20px 20px;
}
.nav_group a:nth-child(2){
    margin: 0px 10px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}


/*-------------------------------------------*/

footer{
    position:  relative;
    background-color: rgb(230, 232, 255);
    height: 50px;
    padding: 5px;
    font-size: 11px;
}
.footer_address{
    position: absolute;
    top: 10px;
    left: 600px;

}
.footer_info{
    position: absolute;
    top: 10px;
    left: 1250px;
}